.container {
    width: 1850px;
    height: 900px;
    background-color: aqua;
}
.Upper-row{
    width: 1820px;
    height: 250px;
    background-color: brown;
    margin: 20px;
    display: grid;
    grid-template-columns: 700px;
}
.First{
    width: 1000px;
    height: 160px;
    margin: 50px;
    background-color: black;
}
.Second{
    width: 410px;
    height: 160px;
    margin: 50px;
    background-color: blue;
   ;
    
}
.Third{
    width: 410px;
    height: 160px;
    margin: 50px;
    background-color:red;
    
}